@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Barış Atış, 1400971 <br/>
Taha Burak Koç, 1400384</p>


@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })