@using System.Data.Entity
@using wikiasp.Models
@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h4>A customizable wiki/board for different topics such as movies, books, games etc. and their sub-elements like characters, story, script etc. These elements have restrictions which makes them available to visit by anyone, only to registered users, only to users with privileges and only to admins. Elements can be edited by users depending on the restriction. User information and elements are stored in a MSSQL database. Project is made with ASP.NET MVC Framework.</h4>
    <h1>Currently there are @ViewBag.WikiList.Count Wikias</h1>
    <h3>Just pick one from below and start reading or writing!</h3>
</div>

<ul class="list-group">
    @{
        foreach (Wikias wiki in ViewBag.WikiList)
        {
            <li><a  class="list-group-item" href="/wiki/show/@wiki.IndexElementId">@wiki.Title</a></li>
        }
    }
</ul>

